<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GetAccessTokenUrl" value="https://developer.api.autodesk.com/authentication/v2/token" />
    <add key="LoginUrl" value="https://developer.api.autodesk.com/authentication/v2/authorize" />
    <add key="RedirectUri" value="http://localhost:8080/"/>
    <add key="ApiBaseUri" value="/AutodeskDM/Services/api/vault/v2/"/>
  </appSettings>
</configuration>